<header class="cs-header">
    <div class="topbar topbar-dark bg-dark">
        <div class="container d-md-flex align-items-center px-0 px-xl-3">
            <div class="d-none d-md-block text-nowrap mr-3">

                <span class="text-muted mr-2">Hotline</span>
                <a class="topbar-link mr-1 trackCall hotline" href="tel:0978126123"><i
                        class="fe-phone font-size-base"></i> 0978.126.123</a>
                <i class="fe-phone font-size-base text-muted mr-1"></i>
                <span class="text-muted mr-2">Bảo hành</span>
                <a class="topbar-link mr-1 trackCall" href="tel:1900099901">1900.0999.01</a>
                <i class="fe-phone font-size-base text-muted mr-1"></i>
                <span class="text-muted mr-2">Hợp tác Dự án</span>
                <a class="topbar-link mr-1 trackCall" href="tel:02899999123">(028) 999.99.123</a>


            </div>
            <div class="d-flex text-md-right ml-md-auto">
                <a class="topbar-link pr-2 mr-3" href="/chuyen-muc/hinh-anh-lap-dat.html">Lắp đặt thực tế
                </a>
                <a class="topbar-link pr-2 mr-3" href="/chuyen-muc/huong-dan.html">Hướng dẫn
                </a>
                <a class="topbar-link pr-2 mr-3" href="/chuyen-muc/tin-tuc.html">Tin tức
                </a>
                <a class="topbar-link pr-2 mr-3" href="/p/gioi-thieu-dmt-solar.html">Giới thiệu</span>
                </a>
                <a class="topbar-link pr-2" href="/lien-he.html">Liên hệ
                </a>

            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-light bg-light navbar-box-shadow navbar-sticky" data-scroll-header>
        <div class="navbar-search bg-light">
            <form method="get" action="/search.html" class="h-100">

                <div class="container d-flex flex-nowrap align-items-center">
                    <i class="fe-search font-size-xl"></i>
                    <input name="s" class="form-control form-control-xl navbar-search-field" type="text"
                        placeholder="Tìm Mã sản phẩm hoặc Tên sản phẩm">
                    <div class="d-none d-sm-block flex-shrink-0 pl-2 mr-4 border-left border-right"
                        style="width: 10rem;">
                        <select name="type" class="form-control custom-select pl-2 pr-0">
                            <option value="product">Sản phẩm</option>
                            <option value="post">Bài viết</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center"><span
                            class="text-muted font-size-xs mt-1 d-none d-sm-inline">Hủy</span>
                        <button class="close p-2" type="button" data-toggle="search">&times;</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="container px-0 px-xl-3">
            <button class="navbar-toggler ml-n2 mr-4" type="button" data-toggle="offcanvas"
                data-offcanvas-id="primaryMenu"><span class="navbar-toggler-icon"></span></button>
            <a title="DMT Solar" class="navbar-brand order-lg-1 mx-auto ml-lg-0 pr-lg-2 mr-lg-0"
                href="///c%3A/Users/duong/Desktop/den_led/index.html" style="position: relative;">
                <img width="120" src="///c%3A/Users/duong/Desktop/den_led/images/logo-web-dmt.png" alt="DMT Solar">
            </a>
            <div class="d-flex align-items-center order-lg-3 ml-lg-auto">
                <div class="navbar-tool">
                    <a class="navbar-tool-icon-box mr-2" href="#" data-toggle="search">
                        <i class="fe-search"></i></a>
                </div>
                <div class="navbar-tool d-flex d-sm-flex">
                    <a class="navbar-tool-icon-box mr-2" href="/tai-khoan">
                        <i class="fe-user"></i></a>
                </div>
                <div class="border-left mr-2" style="height: 30px;"></div>
                <div class="navbar-tool mr-2 show_cart">
                    <a class="navbar-tool-icon-box show_cart" href="#" data-toggle="offcanvas"
                        data-offcanvas-id="shoppingCart">
                        <i class="fe-shopping-cart show_cart"></i>
                        <span class="navbar-tool-badge show_cart" id="cart_total_items">
                            0 </span>
                    </a>
                </div>
            </div>
            <style>
                @media (max-width: 992px) {

                    .navbar-nav {
                        flex-direction: row;
                        flex-wrap: wrap;
                        padding-left: 0;
                    }

                    .cs-offcanvas-collapse .cs-offcanvas-body .navbar-nav .nav-item {
                        list-style: none;
                        flex: 0 0 33.333333%;
                    }

                    .navbar-nav .nav-item .dropdown-toggle::after {
                        content: '\25BA';
                        position: absolute;
                        right: 15px;
                        margin-right: 0;
                        top: 40%;
                    }
                }

                #mobile-sub-menu-dmt-header a {
                    width: 90px;
                    font-size: .8em;
                }

                #mobile-sub-menu-dmt-title {
                    overflow: hidden;
                    word-wrap: break-word;
                    height: 1.8rem;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                }
            </style>

            <div class="cs-offcanvas-collapse order-lg-2" id="primaryMenu">
                <div class="cs-offcanvas-cap navbar-box-shadow">
                    <h5 class="mt-1 mb-0">Menu</h5>
                    <button class="close lead" type="button" data-toggle="offcanvas"
                        data-offcanvas-id="primaryMenu"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="cs-offcanvas-body">
                    <!-- Menu-->
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown dropdown-mega nav-item-icon d-flex align-items-end">
                            <a class="nav-link dropdown-toggle d-flex flex-column align-items-center"
                                onclick="subMenu(this)"
                                href="///c%3A/Users/duong/Desktop/den_led/den-nang-luong-mat-troi"
                                data-toggle="dropdown">
                                <i class="fe-list"></i>
                                <span>Tất cả sản phẩm</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-all-catelogies">
                                <div class="dropdown-column mb-2 mb-lg-0">
                                    <h5 class="dropdown-header">Đèn cao cấp</h5>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-pha-cao-cap-nang-luong-mat-troi">Đèn
                                        pha cao cấp</a>
                                    <a class="dropdown-item mb-2"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-duong-cao-cap-nang-luong-mat-troi">Đèn
                                        đường cao cấp</a>
                                    <h5 class="dropdown-header">Đèn pha</h5>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-pha-led-ngoai-troi">Đèn
                                        pha ngoài
                                        trời</a>
                                    <a class="dropdown-item mb-2"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-nang-luong-mat-troi-chong-choi">Đèn
                                        pha chống chói</a>
                                    <h5 class="dropdown-header">Đèn đường</h5>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-duong-lien-the-nang-luong-mat-troi">Đèn
                                        liền thể</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-duong-nang-luong-mat-troi-tam-pin-roi">Đèn
                                        tấm pin
                                        rời</a>

                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-bo-luu-dien-roi-nang-luong-mat-troi">Đèn
                                        bộ lưu điện
                                        rời</a>
                                    <a class="dropdown-item mb-2"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-chiec-la">Đèn
                                        chiếc lá</a>
                                    <h5 class="dropdown-header">Đèn trong nhà</h5>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-op-tran-nang-luong-mat-troi">Đèn
                                        ốp
                                        trần</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-nang-luong-mat-troi-chong-choi">Đèn
                                        pha chống chói</a>
                                </div>
                                <div class="dropdown-column mb-2 mb-lg-0">
                                    <h5 class="dropdown-header">Đèn sân vườn</h5>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-tru-san-vuon-nang-luong-mat-troi">Đèn
                                        trụ sân vườn</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-treo-tuong-nang-luong-mat-troi">Đèn
                                        treo tường</a>
                                    <a class="dropdown-item" href="///c%3A/Users/duong/Desktop/den_led/den-cam-dat">Đèn
                                        cắm
                                        đất</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-led-day-nang-luong-mat-troi">Đèn
                                        led
                                        dây</a>
                                    <a class="dropdown-item mb-2"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-cong-vien-nang-luong-mat-troi">Đèn
                                        công viên</a>
                                    <h5 class="dropdown-header">Sản phẩm khác</h5>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-tru-cong-nang-luong-mat-troi">Đèn
                                        trụ cổng</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-dia-bay-ufo">Đèn
                                        đĩa bay UFO</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-tin-hieu-giao-thong-nang-luong-mat-troi">Đèn
                                        tín hiệu
                                        giao thông</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/quat-nang-luong-mat-troi">Quạt
                                        năng
                                        lượng mặt trời</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/bo-luu-dien-nang-luong-mat-troi">Bộ
                                        lưu
                                        điện năng lượng mặt trời</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/camera-solar-camera-nang-luong-mat-troi">Camera
                                        năng lượng
                                        mặt trời</a>
                                    <a class="dropdown-item mb-2"
                                        href="///c%3A/Users/duong/Desktop/den_led/choi-ve-sinh-pin-nang-luong-mat-troi">Chổi
                                        vệ sinh pin</a>


                                </div>
                                <div class="dropdown-column mb-2 mb-lg-0">
                                    <h5 class="dropdown-header">Phụ kiện</h5>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/day-noi-den-nang-luong-mat-troi">Dây
                                        nối</a>
                                    <a class="dropdown-item" href="///c%3A/Users/duong/Desktop/den_led/pin-lithium">Pin
                                        lưu
                                        trữ</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/tru-den-va-phu-kien">Trụ
                                        & phụ kiện lắp
                                        đặt</a>
                                    <a class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/can-den-chieu-sang">Cần
                                        đèn chiếu
                                        sáng</a>
                                    <a class="dropdown-item mb-2"
                                        href="///c%3A/Users/duong/Desktop/den_led/san-pham-khac">Khác</a>
                                    <h5 class="dropdown-header">Thương hiệu</h5>

                                    <a title="Đèn năng lượng mặt trời Saco" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/thuong-hieu/saco">Saco</a>


                                    <a title="Đèn Năng Lượng Mặt Trời Jindian Giá Tốt, Miễn Phí VC"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/thuong-hieu/jindian">Jindian</a>


                                    <a title="Đèn năng lượng mặt trời Euler Energy, BH 5 năm [Giảm 40%]"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/thuong-hieu/den-nang-luong-mat-troi-euler">Euler
                                        Energy</a>


                                    <a title="Đèn năng lượng mặt trời Rạng Đông" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/thuong-hieu/rang-dong">Rạng
                                        Đông</a>


                                    <a title="Đèn năng lượng mặt trời Sokoyo" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/thuong-hieu/sokoyo">Sokoyo</a>


                                    <a title="Đèn năng lượng mặt trời Newstar chất lượng [Pin Mono]"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/thuong-hieu/den-nang-luong-mat-troi-newstar">Newstar</a>


                                    <a title="Đèn LED năng lượng mặt trời Tuvaco" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/thuong-hieu/tuvaco">Tuvaco</a>


                                    <a title="Đèn năng lượng mặt trời Blue Carbon, BH 5 năm [Ưu đãi 30%]"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/thuong-hieu/blue-carbon">Blue
                                        Carbon</a>


                                    <a title="Đèn năng lượng mặt trời giá rẻ" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/thuong-hieu/oem">OEM
                                        & Khác</a>

                                </div>
                                <div class="dropdown-column mb-2 mb-lg-0">
                                    <h5 class="dropdown-header">Công suất</h5>

                                    <a title="Đèn năng lượng mặt trời 10W chính hãng | Giảm đến 40%"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-10w">10W
                                        - 19W</a>


                                    <a title="Giá đèn năng lượng mặt trời 20W siêu ưu đãi | Giảm từ 14-37%"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-20w">20W
                                        - 29W</a>


                                    <a title="Đèn năng lượng mặt trời 30W chất lượng | [SALE SỐC]" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-30w">30W
                                        - 39W</a>


                                    <a title="Đèn năng lượng mặt trời 40W" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-40w">40W
                                        - 59W</a>


                                    <a title="Đèn năng lượng mặt trời 60W Chính hãng | Giảm giá từ 15-27% "
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-60w">60W
                                        - 89W</a>


                                    <a title="Đèn năng lượng mặt trời 90W giá tốt | Giảm từ 10- 27%"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-90w">90W
                                        - 99W</a>


                                    <a title="[Ưu đãi 46%] Đèn năng lượng mặt trời 100W | Giá chỉ từ 7XX"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-100w">100W
                                        - 199W</a>


                                    <a title="Đèn năng lượng mặt trời 200W giá siêu rẻ | [Giảm 25%]"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-200w">200W
                                        - 299W</a>


                                    <a title="Đèn năng lượng mặt trời 300W siêu rẻ | [Chỉ từ 990.000đ]"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-300w">300W
                                        - 499W</a>


                                    <a title="Đèn Năng Lượng Mặt Trời 500W Giá Tốt | Ưu Đãi [30%]" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-500w">500W
                                        - 999W</a>


                                    <a title="Đèn năng lượng mặt trời 1000W giá siêu ưu đãi | Giảm [30%]"
                                        class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/cong-suat/den-nang-luong-mat-troi-1000w">1000W
                                        - 2000W</a>

                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown nav-item-icon">
                            <a class="nav-link dropdown-toggle d-flex flex-column align-items-center"
                                onclick="subMenu(this)"
                                href="///c%3A/Users/duong/Desktop/den_led/den-nang-luong-mat-troi-cao-cap"
                                data-toggle="dropdown">
                                <img src="///c%3A/Users/duong/Desktop/den_led/template/dmt/icons/den-cao-cap-dmt.png" />
                                <span>Đèn cao cấp</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a title="Đèn pha cao cấp năng lượng mặt trời" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-pha-cao-cap-nang-luong-mat-troi">Đèn
                                        pha cao cấp</a></li>
                                <li><a title="Đèn đường cao cấp lượng mặt trời" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-duong-cao-cap-nang-luong-mat-troi">Đèn
                                        đường cao cấp</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown nav-item-icon">
                            <a class="nav-link dropdown-toggle d-flex flex-column align-items-center"
                                onclick="subMenu(this)"
                                href="///c%3A/Users/duong/Desktop/den_led/den-pha-nang-luong-mat-troi"
                                data-toggle="dropdown">
                                <img src="///c%3A/Users/duong/Desktop/den_led/template/dmt/icons/den-pha.webp" />
                                <span>Đèn pha</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a title="Đèn pha ngoài trời năng lượng mặt trời" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-pha-led-ngoai-troi">Đèn
                                        pha ngoài trời</a></li>
                                <li><a title="Đèn pha trong nhà năng lượng mặt trời" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-nang-luong-mat-troi-chong-choi">Đèn
                                        pha trong nhà</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown nav-item-icon">
                            <a class="nav-link dropdown-toggle d-flex flex-column align-items-center"
                                onclick="subMenu(this)"
                                href="///c%3A/Users/duong/Desktop/den_led/den-duong-nang-luong-mat-troi"
                                data-toggle="dropdown">
                                <img src="///c%3A/Users/duong/Desktop/den_led/template/dmt/icons/den-duong-dmt.webp" />
                                <span>Đèn đường</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a title="Đèn liển thể năng lượng mặt trời" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-duong-lien-the-nang-luong-mat-troi">Đèn
                                        liển thể</a></li>
                                <li><a title="Đèn tấm pin rời năng lượng mặt trời" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-duong-nang-luong-mat-troi-tam-pin-roi">Đèn
                                        tấm pin
                                        rời</a></li>
                                <li><a title="Đèn bộ lưu điện rời năng lượng mặt trời" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-bo-luu-dien-roi-nang-luong-mat-troi">Đèn
                                        bộ lưu điện
                                        rời</a></li>
                                <li><a title="Đèn chiếc lá năng lượng mặt trời" class="dropdown-item"
                                        href="///c%3A/Users/duong/Desktop/den_led/den-chiec-la">Đèn
                                        chiếc lá</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-icon">
                            <a class="nav-link d-flex flex-column align-items-center"
                                href="///c%3A/Users/duong/Desktop/den_led/den-dia-bay-ufo">
                                <img src="///c%3A/Users/duong/Desktop/den_led/template/dmt/icons/den-ufo-dmt.webp" />
                                <span>Đèn UFO</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="cs-offcanvas-cap border-top">
                    <a class="btn btn-translucent-primary btn-block" href="#modal-contact" data-toggle="modal"
                        data-view="#modal-signin-view"><i class="fe-user font-size-lg mr-2"></i>Liên hệ</a>
                </div>
            </div>

            <script>

                function subMenu(element) {
                    if (screen.width < 992) {
                        var parentNode = element.parentNode;
                        var subMenuHTML = parentNode.querySelector('.dropdown-menu').innerHTML;
                        subMenuHTML = `<ul class="subMenuMobile">${subMenuHTML}</ul>`;
                        $('#mobile-sub-menu-dmt #mobile-sub-menu-dmt-content').html(subMenuHTML);

                        $('#mobile-sub-menu-dmt #mobile-sub-menu-dmt-header #mobile-sub-menu-dmt-title').text(element.textContent);
                        $('#mobile-sub-menu-dmt #mobile-sub-menu-dmt-header a').attr('href', element.getAttribute("href"));

                        $('#mobile-sub-menu-dmt').addClass('show');
                    } else {

                        document.location.href = element.getAttribute("href");
                    }


                }

            </script>
        </div>
    </div>
</header>

<div class="cs-page-overlay"></div>

<style>
    html,
    body {
        overflow-x: hidden;
        width: 100vw;
    }

    .container-fluid.banner-slider {
        padding-left: 0;
        padding-right: 0;
    }

    .container-fluid.banner-slider img {}
</style>